
#immaSpecialGrid{
    margin-top: 50px;
}

#immaSpecialGridToo{
    max-width: 95% !important;
    flex-basis: 95% !important
}

@media only screen and (min-width: 600px) {
    #immaSpecialGrid{
    margin-left: 72px;
    margin-top: 64px;
}

}