
body{
    background-image: url("../../assets/img/denis-degioanni-510596-unsplash.jpg") !important;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    /* height: auto */
    /* height: 100vh */
}