
body{
    background-image: url("../../assets/img/trianglify (1).png") !important;
    /* background-image: linear-gradient(to right, #D1D1D1, #7B8777) !important; */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-attachment: fixed
    /* height: auto */
    /* height: 100vh */
}