
body{
    background-image: url("../../assets/img/trianglify (4).png") !important;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-attachment: fixed
}